<div class="header-nav">
  <md-toolbar>
    <a class="no-style" [routerLink]="['/']"><md-icon svgIcon="logo1"></md-icon></a>
    <a class="no-style" [routerLink]="['/']"><h3>{{ title }}</h3></a>
    <span class="fill-remaining-space"></span>
    <nav>
      <a class="no-style" [routerLink]="['/']">Home</a>
      <a class="no-style" [routerLink]="['/about']">About</a>
      <a class="no-style" [routerLink]="['/work']">Work</a>
      <a class="no-style" [routerLink]="['/lab']">Lab</a>
    </nav>
  </md-toolbar>
</div>
