@import '../mixins';
@import '../config';

.logo {
    position: absolute;
    width: 10%;
    padding: 3% 0 0 3%;
    transform-origin: 0% 0%
}
.title {
    padding: 3.5% 0 0 15%;
    float: left;
    width: 10%;
    color:#bbb;
    font-size: 4vw;
}
.headBar {
    width: 100%;
    height: 0;
    padding-bottom: 15%;
    background-color: $color4;
    font-family: $roboto;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.navigation{
    transform-origin: 100% 100%;
}
.ul-navigation {
    display: flex;
    justify-content: flex-end;
    font-size: 3vw;
    padding-top: 6.5%;
    padding-right: 25px;
}
.ul-navigation li{
    padding-left:7px;
}
.navItem {
    text-decoration: none;
    color: $color2;
    padding: 7px;
    background-color: $color1;
    border: 1px $color2 solid;
    border-radius: 2px;
    
    &:hover{
        background: $color2;
        color:#fff;
    }
}
.navItem.active{
    color:#fff;
}
