<div class="container">
<md-card class="card-desc">
    <md-card-title>Craft Beer ABV and IBU correlation</md-card-title><br>
    <h3>Description:</h3><br>
    <md-card-content>
       <span class="secondaryColor">D3 Graph</span> to find the correlation between <span class="secondaryColor">ABV (Alcohol by volume)</span> and <span class="secondaryColor">IBU (International Bitterness Units)</span> if there is any, from a sample data of 40 different types of craft beers.
    </md-card-content>
    <h3>Process:</h3><br>
    <md-card-content>
       <ul>
           <li>Integrated D3 to Angular 2</li>
           <li>Grabbed data from Kaggle datasets</li>
           <li>Created a scatter graph with its axis</li>
           <li>Added data using D3</li>
           <li>Added interaction of brush zoom</li>
       </ul>
    </md-card-content>
</md-card>
    <div class="interinfo">
        <ul>
            <li><span>Draw a Square to</span> <span class="secondaryColor"> zoom in</span>.</li>
            <li><span>Double-Click</span> <span class="secondaryColor"> zoom out</span>.</li>
        </ul>
    </div>
<md-card class="card-graph" >
<svg class="beerd3" id="beerd3" width="540" height="400"  overflow="visible" viewBox="0 0 540 400" preserveAspectRatio="xMidYMid meet"></svg>
</md-card>
</div>