<div class="container">
  <div class="post-roll"></div>
  <md-grid-list cols="2" rowHeight="4:3">
  <md-grid-tile>
    <md-card>
      <img src="http://placehold.it/300x150" md-card-image>
      <md-card-title>Blog Title</md-card-title>
      <md-card-content>Blog post short desc</md-card-content>
    </md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card>
      <img src="http://placehold.it/300x150" md-card-image>
      <md-card-title>Blog Title</md-card-title>
      <md-card-content>Blog post short desc</md-card-content>
    </md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card>
      <img src="http://placehold.it/300x150" md-card-image>
      <md-card-title>Blog Title</md-card-title>
      <md-card-content>Blog post short desc</md-card-content>
    </md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card>
      <img src="http://placehold.it/300x150" md-card-image>
      <md-card-title>Blog Title</md-card-title>
      <md-card-content>Blog post short desc</md-card-content>
    </md-card>
  </md-grid-tile>
  </md-grid-list>
</div>