@import "../config";

.post-roll {
    width: 100%;
    height: 0;
    padding-bottom: 30%;
    background: #AAA;
}
.mat-card {
    width: 80%;
    font-family: $font;
}
.mat-card-title {
    font-size: 3.6vw;
}
.mat-card-content {
    font-size: 2.5vw;
}