@import "../config";
@import "../mixins";

.container {
    @include centerer;
    z-index: 2;
}

.mat-card {
    background: $color4;
    color: $color2;
}
input, textarea{
    color: #AAA;
}
button {
    color: #000;
}
.closePop{
    position: absolute;
    z-index: 2;
    top: -6%;
    left: 94%;
}
.mat-card-actions .mat-raised-button {
    margin: 0;
}
.backClosePop {
    opacity: .7;
    background: #333;
    width: 100%;
    position: absolute;
    top:0;
    z-index: 1;
}