@import "../config";
@import "../mixins";

.container {
    @include centerer;
    z-index: 2;
}

.mat-card {
    background: $color4;
    color: $color2;
}
input, textarea{
    color: #AAA;
}
button {
    color: #000;
}
.closePop{
    position: absolute;
    z-index: 50;
    top: -6%;
    left: 94%;
}
.mat-card-actions .mat-raised-button {
    margin: 0;
}
.backClosePop {
    opacity: .7;
    background: #333;
    width: 100%;
    position: absolute;
    top:0;
    z-index: 1;
}
@media only screen and (max-device-width: 320px) { 
    .container {
        width: 92%;
    }
 }
@media only screen and (max-device-width: 375px) {
    .container {
        width: 92%;
    }
 }
@media (min-device-width:768px) and (max-device-width:1024px){ }
