@import "../config.scss";
@import "../mixins.scss";

.container {
    @include flex-contain;
}
.mat-card{
    margin: 0.5%;
}
.mat-card-title {
    font-family: $font;
    font-size: 3.7vw!important;
    color: #bbb;
}
.mat-card-content{
    line-height: 3.8vw;
    font-size: 2.1vw;
    font-family: $font;
}
.profile-card {
    width: 30%;
    text-align: center;
    font-family: $font;
}
.description-card {
    width: 50%;
    .mat-card-content{
        padding-left: 2vw;
    } 
}
.thumbs-card {
    width: 85%;
    h3 {
        text-align: right;
        font-size: 3vw;
        color: $secondaryFontColor;
    }
    p{
        text-align: right;
    }
}
.skills-card {
    width: 30%;
    h3{
        font-size: 2.5vw;
        color: $secondaryFontColor;
    }
}
.resume-card {
    width: 20%;
    text-align: center;
}
.contact-card {
    width: 20%;
    text-align: center;
    vertical-align: center;
}

.usevw{
    font-size: 3.7vw;
}