@import "../config.scss";
@import "../mixins.scss";

.container {
    @include flex-contain;
}
.mat-card{
    margin: 0.5%;
    .mat-card-title{
        font-size: 1.5vw;
    }
}
.mat-card-title {
    font-family: $font;
    color: #bbb;
}
.mat-card-content{
    line-height: 2.5vw;
    font-family: $font;
}
.profile-card {
    width: 12%;
    text-align: center;
}
.description-card {
    width: 30%;
}
.thumbs-card {
    width: 30%;
    .mat-card-content{
        line-height: 2.35vw;
    }
}
.skills-card {
    width: 30%;
}
.resume-card {
    width: 30%;
    .mat-grid-list .mat-card-title {
        color: $secondaryFontColor;
        text-decoration: none;
        font-size: 1.3vw;
    }
    .mat-grid-tile {
        overflow: visible;
    }
}
.contact-card {
    width: 12%;
    text-align:center;
}
.centerVer {
    margin-top: 80%!important;
}
md-card.contact-card.mat-card:hover {
    background: $color1;
}
@media only screen and (max-device-width: 320px) {
    .mat-card-title {
        font-size: 4.5vw!important;
    }
    .profile-card {
        width: 100%;
    }
    .description-card {
        width: 100%;
    }
    .thumbs-card {
        width: 100%;
    }
    .skills-card {
        width: 100%;
    }
    .resume-card {
        width: 100%;
    }
    .contact-card {
        width: 100%;
    }
    .centerVer {
        margin-top: 0% !important;
    }
}
@media only screen and (max-device-width: 375px) {
    .mat-card-title {
        font-size: 4.5vw!important;
    }
    .mat-card-content {
        line-height: 4.5vw!important;
    }
    .profile-card {
        width: 100%;
    }
    .description-card {
        width: 100%;
    }
    .thumbs-card {
        width: 100%;
    }
    .skills-card {
        width: 100%;
    }
    .resume-card {
        width: 100%;
    }
    .contact-card {
        width: 100%;
    }
    .centerVer {
        margin-top: 0% !important;
    }
}
@media (min-device-width:768px) and (max-device-width:1024px){
    .profile-card {
        width: 20%;
    }
    .description-card {
        width: 62%;
    }
    .thumbs-card {
        width: 41%;
    }
    .skills-card {
        width: 41%;
    }
    .resume-card {
        width: 51%;
    }
    .contact-card {
        width: 31%;
    }
    .centerVer {
        margin-top: 28% !important;
    }
}