<div class="container">
  <md-card class="profile-card">
    <img src="imgs/profilephoto.png" md-card-image>
    <md-card-title>Profile Card</md-card-title>
    <md-card-content>Fernando Millan</md-card-content>
  </md-card>
  <md-card class="description-card">
    <md-card-title>About Me:</md-card-title>
    <!--<md-card-subtitle></md-card-subtitle>-->
    <md-card-content>I have spent the last 6 years developing and refining my skills as a <span class="secondaryColor">full stack developer</span>, began using the standard LAMP stack technologies (Linux, Apache, MySQL and PHP). Later on as <span class="secondaryColor">ECMAScript</span> started to become popular thanks to Node.js, I shifted to all <span class="secondaryColor">Javascript</span> development using frameworks and libraries like Google’s Angular 2, Rxjs, D3, Firebase for Real-time databasing with NoSQL and Express.js servers.</md-card-content>
  </md-card>
  <md-card class="thumbs-card">
    <md-card-title>Education</md-card-title>
    <!--<md-card-subtitle>Fernando Millan</md-card-subtitle>-->
    <md-card-content class="hoverResume">
      <div>
        <h3 class="secondaryColor">Art Institute of California San Diego</h3>
        <p>2009 – 2012</p>
        <p>Bachelor's of Computer Science, Field of Study Web Development, Digital/Multimedia and Information Resources Design</p>
      </div>
      <hr>
      <div>
        <h3 class="secondaryColor">Tecnologico de Monterrey, Campus Monterrey</h3>
        <p>2006 – 2009</p>
        <p>Completed Studies in Mechanical Engineer and Financial Administration</p>
      </div>
    </md-card-content>
  </md-card>
  <md-card class="skills-card">
    <md-card-title>Experience</md-card-title>
    <!--<md-card-subtitle>Fernando Millan</md-card-subtitle>-->
    <md-card-content>
      <div>
        <h3>Front-End Developer - Design and implemented main website and content using CakePHP</h3>
        <h4 class="secondaryColor">Locbit</h4>
        <p>2013 - 2014</p>
      </div>
      <hr>
      <div>
        <h3>UX/UI Developer - Help maintaining and improving clients websites</h3>
        <h4 class="secondaryColor">Cofamedia</h4>
        <p>2012 - 2013</p>
      </div>
    </md-card-content>
  </md-card>
  <md-card class="resume-card">
    <md-card-title>Abilities</md-card-title>
    <!--<md-card-subtitle>Fernando Millan</md-card-subtitle>-->
    <md-card-content>
      <!--<ul>
        <li>HTML/CSS</li>
        <li>JAVASCRIPT</li>
        <li>ANGULAR 2</li>
        <li>REACT</li>
        <li>NODE</li>
        <li>SASS</li>
        <li>GIT</li>
      </ul>-->
      <md-grid-list cols="3" rowHeight="4:1">
        <md-grid-tile>
          <md-card-title>Skillset</md-card-title>
          </md-grid-tile>
        <md-grid-tile>
          <md-card-title>Knowledge</md-card-title>
          </md-grid-tile>
        <md-grid-tile>
          <md-card-title>Tools</md-card-title>
          </md-grid-tile>
        <md-grid-tile>HTML5</md-grid-tile>
        <md-grid-tile>Angular 2</md-grid-tile>
        <md-grid-tile>Github</md-grid-tile>
        <md-grid-tile>CSS3</md-grid-tile>
        <md-grid-tile>React</md-grid-tile>
        <md-grid-tile>StackOverflow</md-grid-tile>
        <md-grid-tile>JAVSCRIPT</md-grid-tile>
        <md-grid-tile>RxJs</md-grid-tile>
        <md-grid-tile>VSCode/Sublime</md-grid-tile>
        <md-grid-tile>SQL</md-grid-tile>
        <md-grid-tile>Redux</md-grid-tile>
        <md-grid-tile>Photoshop</md-grid-tile>
        <md-grid-tile>PHP</md-grid-tile>
        <md-grid-tile>Nodejs</md-grid-tile>
        <md-grid-tile>TravisCI</md-grid-tile>
        <md-grid-tile>SWIFT</md-grid-tile>
        <md-grid-tile>D3js</md-grid-tile>
        <md-grid-tile>NPM</md-grid-tile>
      </md-grid-list>
    </md-card-content>
  </md-card>
  <md-card class="contact-card" (click)="resume()">
    <div class="centerVer">
    <i class="material-icons usevw">file_download</i>
    <md-card-title>Resume</md-card-title>
    <!--<md-card-subtitle>Fernando Millan</md-card-subtitle>-->
    </div>
  </md-card>
</div>