<div class="container">
  <md-card class="profile-card">
    <md-card-title>Profile Card</md-card-title>
    <md-card-subtitle>Fernando Millan</md-card-subtitle>
    <img src="http://placehold.it/300" md-card-image>
  </md-card>
  <md-card class="description-card">
    <md-card-title>About Me</md-card-title>
    <md-card-subtitle>Fernando Millan</md-card-subtitle>
  </md-card>
  <md-card class="thumbs-card">
    <md-card-title>Instagram API</md-card-title>
    <md-card-subtitle>Fernando Millan</md-card-subtitle>
  </md-card>
  <md-card class="skills-card">
    <md-card-title>My Abilities</md-card-title>
    <md-card-subtitle>Fernando Millan</md-card-subtitle>
  </md-card>
  <md-card class="resume-card">
    <md-card-title>Resume</md-card-title>
    <md-card-subtitle>Fernando Millan</md-card-subtitle>
  </md-card>
  <md-card class="contact-card">
    <md-card-title>Get in touch</md-card-title>
    <md-card-subtitle>Fernando Millan</md-card-subtitle>
  </md-card>
</div>