<div class="container">
<md-card class="des" *ngIf="!logged" >
    <md-card-title>Simple CMS</md-card-title>
    <md-card-content>
      <h2>Description:</h2>
      <p>Simple page <span class="secondaryColor">content managament system (CMS)</span> demonstration to create and manage digital content. Using this uncomplicated system you can very easily add, delete images and edit text in your web site on the fly.</p>
       <h2>Process:</h2>
       <ul>
        <li>Integrated AngularFire2 for handling authentication</li>
        <li>Managing data from Firebase database (CRUD)</li>
        <li>Created client and admin to view</li>
      </ul>
    </md-card-content>
</md-card>
<md-card class="log-reg" *ngIf="!logged" >
  <div class="lr">
  <button md-button (click)="showLogin()" >Login</button>
  <button md-button (click)="showRegister()">Register</button>
  </div>
  <div class="login formi" *ngIf="show" >
    <md-card-title>Login</md-card-title>
    <md-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin(loginForm)" >
        <section class="email">
          <md-input-container class="example-full-width">
            <input formControlName="email" mdInput required placeholder="Email" value="">
          </md-input-container>
        </section>
        <section class="password">
          <md-input-container class="example-full-width">
            <input formControlName="password" mdInput required type="password" placeholder="Password" value="">
          </md-input-container>
        </section>
        <button md-raised-button type="submit" [ngClass]="{'disabled': !loginForm.valid }" [disabled]="!loginForm.valid">Login</button>
        <span> OR </span>
        <button md-raised-button type="button" (click)="onSubmitGoogle()">Google Login</button>
      </form>
    </md-card-content>
  </div>
  <div class="register formi" *ngIf="show == false">
    <md-card-title>Register</md-card-title>
    <md-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister(registerForm)" >
        <section class="email">
          <md-input-container class="example-full-width">
            <input formControlName="email" mdInput required placeholder="Email" value="">
          </md-input-container>
        </section>
        <section class="password">
          <md-input-container class="example-full-width">
            <input formControlName="password" mdInput required type="password" placeholder="Password" value="">
          </md-input-container>
        </section>
        <button md-raised-button type="submit" [ngClass]="{'disabled': !registerForm.valid }" [disabled]="!registerForm.valid">Register</button>
      </form>
    </md-card-content>
  </div>
  <div *ngIf="formErrors.email || formErrors.password" class="alert alert-danger">
    {{ formErrors.email || formErrors.password}}
  </div>
  <div *ngIf="onLoginError || onRegisterError" class="alert alert-danger">
    {{ onLoginError || onRegisterError}}
  </div>
</md-card>
<md-card *ngIf="logged" class="admin">
  <button md-raised-button (click)="onLogOut()" type="button">Logout</button><br><br>
  <fm-admin-simple-cms></fm-admin-simple-cms>
</md-card>
<md-card class="view">
  <md-card-title>View</md-card-title>
  <div class="CMSview">
    <div class="insideImg jackpots"><h2>{{ title }}</h2></div>
    <img src="{{ imgUrl }}" alt="image" class="imgCMS">
    <h2 class="sub">{{ subtitle }}</h2>
    <p class="con">{{ content }}</p>
  </div>
</md-card>
</div>