@import "../mixins";
@import "../config";

.container {
    @include flex-contain;
}
.mat-card{
    margin: 0.5%;
    font-family: $font;
    .mat-card-title{
        font-size: 1.5vw;
        color: #bbb;
    }
    .mat-card-content {
        line-height: 2.4vw;
        padding: 0 0 0 5%;
    }
}
.des {
    width: 52%;
    h2{
        color: #bbb;
    }
    ul {
        padding-left: 2%;
    }
    li {
        list-style: circle;
    }
}
.log-reg {
    width: 30%;
    .mat-button{
        font-family: $font;
    }
    border: solid 5px $color2;
    .lr{
        text-align: center;
        padding-bottom: 7%;
    }
    .disabled {
        background: $color5;
        color: $color3;
    }
    form button{
        font-family: $font;
    }
}
.view {
    width: 87.2%;
    .insideImg {
        font-size: 4vw;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .jackpots {
        font-family: $bunge;
        font-size: 4.5vw;
        animation: jackpots 1s 0s ease infinite;
    }
    .sub {
        font-size: 3vw;
        color: #bbb;
        text-decoration: underline;
        padding: 3% 4% 3% 0;
        text-align: right;
    }
    .con {
        color: $secondaryFontColor;
        line-height: 2.7vw;
        text-align: left;
        width:90%;
        padding-left: 4%;
    }
}
.admin {
    width: 87.2%;
    border: solid 5px $color2;
}
.formi {
    text-align: center;
}
.imgCMS {
    width: 100%;
    height: 400px;
}
@media only screen and (max-device-width: 320px) { 
    .des {
        width: 100%;
        .mat-card-title {
            font-size: 5vw;
        }
         .mat-card-content {
            line-height: 6.6vw;
        }
    }
    .log-reg {
        width: 100%;
        .mat-card-title {
            font-size: 5vw;
        }
    }
    .view {
        width: 87.2%;
        .mat-card-title {
            font-size: 5vw;
        }
        .insideImg {
            top: 10%;
        }
        .jackpots {
            font-size: 8vw;
        }
        .sub {
            font-size: 4.8vw;
        }
        .con {
            line-height: 6vw;
        }
    }
    .imgCMS {
        height: 200px;
    }
 }
@media only screen and (max-device-width: 375px) {     .des {
        width: 100%;
        .mat-card-title {
            font-size: 5vw;
        }
         .mat-card-content {
            line-height: 6.6vw;
        }
    }
    .log-reg {
        width: 100%;
        .mat-card-title {
            font-size: 5vw;
        }
    }
    .view {
        width: 87.2%;
        .mat-card-title {
            font-size: 5vw;
        }
        .insideImg {
            top: 10%;
        }
        .jackpots {
            font-size: 8vw;
        }
        .sub {
            font-size: 4.8vw;
        }
        .con {
            line-height: 6vw;
        }
    }
    .imgCMS {
        height: 200px;
    }
}
@media (min-device-width:768px) and (max-device-width:1024px){ }


@keyframes jackpots {
    0%,
    100% {
    text-shadow: 
    -.1vw 0vw .1vw #FED128, -.15vw 0vw .2vw #FED128, -.2vw 0vw .2vw #FED128, 
    -.1vw 0vw 3vw #F0130B, -.2vw 0vw 3vw #F0130B, -.4vw 0vw 3vw #F0130B,
    -.1vw 0vw 5vw #F0130B, -.2vw 0vw 5vw #F0130B, -.4vw 0vw .8vw #F0130B, .2vw 0vw 10vw #F0130B;
      color: #FED128;
    }
    50% {
    text-shadow: 
    -.1vw 0vw .1vw #705C12, -.15vw 0vw .2vw #705C12, -.2vw 0vw .2vw #705C12, 
    -.1vw 0vw .1vw #5C0704, -.2vw 0vw .1vw #5C0704, -.4vw 0vw .1vw #5C0704,
    -.1vw 0vw .2vw #5C0704, -.2vw 0vw .2vw #5C0704, -.4vw 0vw .2vw #5C0704, .2vw 0vw .5vw #5C0704;
      color: #705C12;
    }
  }