<div class="container">
<md-card>
  <md-card-title>GASMAZ</md-card-title>
  <img src="/imgs/website-gasmaz.jpg" alt="GASMAZ" md-card-image>
  <md-card-content>
    <span class="secondaryColor">Gas station company website.</span>
  
      Created Website from scratch using
      Jquery and plugins for interaction, also
      integrated Google API, and own server company API for invoices 
    
  </md-card-content>
  <md-card-actions>
    <a md-button href="http://gasmaz.com.mx/" target="_blank">Go to website</a>
  </md-card-actions>
</md-card>
<md-card>
  <md-card-title>SPOONDESIGN</md-card-title>
  <img src="/imgs/website-spoon.jpg" alt="SPOONDESIGN" md-card-image>
  <md-card-content>
    <span class="secondaryColor">Interior design company portfolio.</span>
    Created portfolio website
    Simple Design with little Javascript and CSS
  </md-card-content>
  <md-card-actions>
    <a md-button href="http://spoondesign.mx/" target="_blank">Go to website</a>
  </md-card-actions>
</md-card>
</div>