// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto|Open+Sans:400italic,700italic,400,700);

// Font Variables
$roboto: 'Roboto', serif;   
$open-sans: 'Open Sans', sans-serif;

// MAIN COLORS
$color1: #044f80;
$color2: #1db7da;
$color3: #4b9cdb;
$color4: #1D242c;
$color5: #717f8f;