// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
// Font Variables
$font: 'Source Code Pro', monospace;  
$open-sans: 'Open Sans', sans-serif;

// MAIN COLORS
$color1: #044f80;
$color2: #1db7da;
$color3: #4b9cdb;
$color4: #1D242c;
$color5: #717f8f;

$titleColor: #fff;
$mainFontColor: #1db7da;
$secondaryFontColor: #59ffe3;
$backColor: #717f8f;
$alertColor: #ff1a1a;
$successColor: #66ff66;


// MAIN FONT SIZES
$LogoSize: 4vw;
$titleSize: 3.8vw;
$subtitleSize: 3.6vw;
$contentSize: 3.4vw;

//MAIN WIDTH %

$contentWidth: 80%; 

// MATERIAL CARD
$backCardColor: #1D242c; 

