@import 'config';

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin mat-card-styles {
    margin: 0.5%;
    font-family: $font;
    background: $backCardColor;
    color: $mainFontColor;
}
@mixin Web {
  .logo[_ngcontent-fcl-40] {
    position: absolute;
    width: 6%;
    padding: 3% 0 0 3%;
    transform-origin: 0% 0%;  
    z-index: 1;
  }
  .title[_ngcontent-fcl-40] {
    padding: 3.7% 0 0 10%;
    float: left;
    width: 0%;
    color: #fff;
    font-size: 2vw;
  }
  .ul-navigation[_ngcontent-fcl-40] {
    display: flex;
    justify-content: flex-end;
    padding: 5.5% 3% 0 0%;
  }

}